<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce-Home</title>
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'IMG/favicon-logo.png' %}">
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}"> 
    <!-- CSS only -->
</head>

<body>
    <header>
        <nav class="container-main">
            <div class="nav-left">
                <div class="logo-main">
                    <img src="{% static 'IMG/logo_reieee_uni_2.svg' %}">
                </div>
                <div class="nav-search">
                    <form action="/search" method="POST">
                        {% csrf_token %}
                        <input class="desing-search"  type="text"  maxlength="50" name="search">
                        <!-- ===============  -->
                        <!-- <input type="hidden" name="search-nav"> -->
                        <input class="desing-button" type="submit" value="Buscar">
                    </form>
                </div>
                <div class="nav-log-reg">
                    <div class="nav-login">
                        <a class="boton-1" href="/login">Login</a>
                    </div>
                    <div class="nav-register"> 
                        <a href="/register">Register</a></li>
                    </div>
                </div>
                <div class="nav-carrito-compras">
                    <p style="margin-left: 13px;">{{ len_products }}</p>
                    <img src="{% static 'IMG/carrito-compras-icon.svg' %}" width="25vh" style="margin-left: 2px;">
                </div>
            </div>
            <div class="nav-right">
                <div class="nav-tools">
                    <ul>
                        <li class="hovera-1"><a href="/" style="text-decoration:none; color: #41413f;">Home</a></li>
                        <li class="hovera-1">Nuevo</li>
                        <li class="hovera-1">Capítulos</li>
                        <li class="hovera-1">Afinidad</li>
                    </ul>
                </div>
                
            </div>
        </nav>
    </header>
    <main>
        {% for i in products %}
        <a href="/productDetails/{{ i.id }}">
            <div class="card">
                <div class="card-image">
                    
                    <img src="../../media/{{i.image}}" alt="" class="image-resize"></p>
                </div>
                <div class="card-text">
                    <h2>{{i.nombre}}</h2>
                    <p>Stock: {{i.stock}}</p>
                    <span class="price">S/{{i.price}}</span>
                </div>
                <div class="card-buttom">
                    <form action="/productDetails/{{i.id}}" method="POST">
                        {% csrf_token %}
                        <input type="submit" class="buttom-2" value="Ver Producto">
                    </form>
                </div>
            </div>
        </a>
        {% endfor %}
    </main>
    <footer>

    </footer>
</body>
</html>